<html>
  <head>
    <% include('head.ejs', { title: 'Unknown Titles', name: 'unknown-titles' }) %>
  </head>
  <body>
    <% include('header.ejs') %>
    <table class="mainTable">
      <tbody>
        <% if(data.state == 'ok') { %>
          <% if(data.mangaIds.length > 0) { %>
            <% data.mangaIds.forEach((m) => { %>
            <tr>
              <th>Unknown:</th>
              <td><%= m %> (<a href="https://mangadex.org/title/<%= m %>" target="_blank">GO</a>)</td>
            </tr>
            <% }); %>
          <% } else { %>
            <tr>
              <td colspan="2" class="ok">No Unknown Titles</td>
            </tr>
          <% } %>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <% if(data.nonLatinTitles.length > 0) { %>
            <% data.nonLatinTitles.forEach((m) => { %>
            <tr>
              <th>Non-Latin:</th>
              <td><a href="https://mangadex.org/title/<%= m.id %>" target="_blank"><%= m.title %></a></td>
            </tr>
            <% }); %>
          <% } else { %>
            <tr>
              <td colspan="2" class="ok">No Non-Latin Titles</td>
            </tr>
          <% } %>
          <% if(data.failedTitles && data.failedTitles.length > 0) { %>
            <tr>
              <td colspan="2">&nbsp;</td>
            </tr>
            <% data.failedTitles.forEach((t) => { %>
              <tr>
                <th>Failed:</th>
                <td><%= t.id %> (<%= t.lastFailure %>; <a href="https://mangadex.org/title/<%= t.id %>" target="_blank">GO</a>)</td>
              </tr>
            <% }); %>
          <% } %>
        <% } else { %>
          <tr>
            <td class="error"><%= data.state %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
