<html>
  <head>
    <title>Update Check</title>
    <link rel="stylesheet" href="/css/update-check.css"/>
  </head>
  <body>
    <table class="mainTable">
      <tbody>
        <tr>
          <th>State</th>
          <td class="state <%= data.state %>"><%= data.state %></td>
        </tr>
        <% if(data.start) { %>
          <tr>
            <th>Start</th>
            <td><%= data.start %></td>
          </tr>
        <% } %>
        <% if(data.end) { %>
          <tr>
            <th>End</th>
            <td><%= data.end %></td>
          </tr>
        <% } %>
        <% if(data.duration) { %>
          <tr>
            <th>Duration</th>
            <td><%= data.duration %></td>
          </tr>
        <% } %>
        <% if(data.count !== undefined) { %>
          <tr>
            <th>Count</th>
            <td><%= data.count %></td>
          </tr>
        <% } %>
        <% if(data.lastUserFetch) { %>
          <tr>
            <th>Last User Fetch</th>
            <td><%= data.lastUserFetch %></td>
          </tr>
        <% } %>
        <% if(data.updatesSinceLastFetch && Array.isArray(data.updatesSinceLastFetch)) { %>
          <tr>
            <th>Updates Since Last Fetch</th>
            <td>
              <b>Count:</b> <%= data.updatesSinceLastFetch.length %><br>
              <% if(data.updatesSinceLastFetch.length > 0) { %>
              <ul><% data.updatesSinceLastFetch.forEach((m) => { %><li><a href="https://mangadex.org/title/<%= m.id %>" target="_blank"><%= m.title || m.id %></a></li><% }); %></ul>
              <% } %>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
