<html>
  <head>
    <% include('head.ejs', { title: 'Update Check', name: 'update-check' }) %>
  </head>
  <body>
    <% include('header.ejs') %>
    <table class="mainTable">
      <tbody>
        <tr>
          <th>State</th>
          <td class="state <%= data.state %>"><%= data.state %></td>
        </tr>
        <% if(data.start) { %>
          <tr>
            <th>Start</th>
            <td><%= data.start %></td>
          </tr>
        <% } %>
        <% if(data.end) { %>
          <tr>
            <th>End</th>
            <td><%= data.end %></td>
          </tr>
        <% } %>
        <% if(data.duration) { %>
          <tr>
            <th>Duration</th>
            <td><%= data.duration %></td>
          </tr>
        <% } %>
        <% if(data.count !== undefined) { %>
          <tr>
            <th>Count</th>
            <td><%= data.count %></td>
          </tr>
        <% } %>
        <% if(data.lastUserFetch) { %>
          <tr>
            <th>Last User Fetch</th>
            <td><%= data.lastUserFetch %></td>
          </tr>
        <% } %>
        <% if(data.updatesSinceLastFetch && Array.isArray(data.updatesSinceLastFetch)) { %>
          <tr>
            <th>Updates Since Last Fetch</th>
            <td>
              <b>Count:</b> <%= data.updatesSinceLastFetch.length %><br>
              <% if(data.updatesSinceLastFetch.length > 0) { %>
                <table class="userUpdatesTable">
                  <tbody>
                    <% data.updatesSinceLastFetch.forEach((m) => { %>
                      <tr>
                        <td class="time-ago">(<%= m.lastUpdateAgo %> ago)</td>
                        <td class="link-cell"><a href="https://mangadex.org/title/<%= m.id %>" target="_blank"><%= m.title || m.id %></a></td>
                      </tr><% }); %>
                  </tbody>
                </table>
              <% } %>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
